.top{
	padding: 18px 22px;
    font-size: 1.25rem;
    background-color: black;
    text-align: center;
}
.header{
	position: relative;
	margin-left: 20px;
	margin-top: 15px;
}

.img{
	    max-width: 50px;
}

.center-div{
		width: 500;
		height: auto;
		position: absolute;
		top: 30%;
		left: 75%;
		text-align: left;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);



	}
	a{
		text-decoration: none;
		color: white;
	}
	.shopbutton{
		background-color: black;
		text-align: left;
		    width: 300px;
    height: 75px;
    padding: 0;
    line-height: 75px;
    margin-top: 40px;
    font-size: 1.25rem;
	}

	@media only screen and (max-width: 749px)
.shopbutton {
    display: inline-block;
    margin: 2rem auto .3rem;
}
	h3{
		    font-size: 4.50rem !important;
    letter-spacing: 4px;
    line-height: 3.5rem;
	}
	.slideshow__text-wrap .slideshow__btn {
    width: 300px;
    height: 75px;
    padding: 0;
    line-height: 75px;
    margin-top: 40px;
    font-size: 1.25rem;
}
@media only screen and (max-width: 749px)
.slideshow__btn--mobile {
    display: inline-block;
    margin: 2rem auto .3rem;
}

element.style {
}
.section-header {
    margin-bottom: 35px;
}
.text-center {
    text-align: center!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
#footer {
  background-color: black;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
li {
  text-align: left;
}
h5 {
  text-align: left;
  color: white;
}
h3 {
  margin-top: 40px;
  text-align: left;
  color: white;
}

#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
.subscriber__btn {
    text-align: right;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.subscriber__btn button {
    background-color: #DCD3C9;
    color: #000;
    width: 260px;
    height: 60px;
    margin-left: auto;
}
.a{
	size: 13px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.navbar-nav{
	    display: block;
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all .45s cubic-bezier(.29, .63, .44, 1);
}